* {
    /* direction: rtl; */
}

.txt-decoration-none {
    text-decoration: none;
    color: #000;
}

#nvbrA {
    background-color: #FFF;
    color: #0d6efd;
    border: 3px solid #0d6efd;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}

#nvbrA:hover {
    background-color: #0d6efd;
    color: #FFF;
    border: 3px solid #FFF;
}

:root{
    /* text color */
    --yellow: #f1c40f;
    /* background-color */
    --dark: #000;
}

.a-nav {
    color: #FFF !important;
}

.thead-primary {
    background-color: #0d6efd;
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: var(--yellow);
    color: var(--dark) !important;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        left: -166px;
    }    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.container-500 {
    min-height: 500px;
}

.p-select {
    position: relative;
}
.p-select .p-arrow {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Start Branchs */
.branch .total-solde {
    color: #080;
    font-weight: bold;
}
/* Start Charger Branchs */
.montDevise {
    position: relative;
}

.montDevise input {
    width: 85%;
}

.montDevise span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;

}

@media (max-width: 567px) {
    .montDevise input {
        width: 82%;
    }
    
    .montDevise span {
        top: 10px;
        right: 5px;
    }   
}



/* End Charger Branchs */

/* Start Table de Borad */

.WETASPHALT {
    background-color: #34495e;
    color: #FFF;
}

.GREESEAN {
    background-color: #16a085;
    color: #FFF;
}

.CARROT {
    background-color: #e58e26;
    color: #FFF;
}

.BLUE {
    background-color: #2980b9;
    color: #FFF;
}

.POMEGRANATE {
    background-color: #c0392b;
    color: #FFF;
}

 .LIGHTPURPLE {
    background-color: #a55eea;
    color: #FFF;
}

 .HIGHBLUE {
    background-color: #45aaf2;
    color: #FFF;
}

.BRIGHTYARROW {
    background-color: #e17055;
    color: #FFF;
}

 .area {
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.area div.content {
    position: absolute;
    top: 20px;
    right: 20px;
}
.area a {
    text-decoration: none;
    color: #FFF;
}

.dashboard .area div.content p {
    font-size: 20px;
    font-weight: bold;
}


/* End Table de Borad */


/* Start Benef STats */
.showDate input[type="date"] {
    width: 85%;
    float: right;
}
/* End Benef STats */
